{% extends "base.html" %}
{% block main %}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="padding-bottom: 10px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="tbrr p30-15" style="padding: 60px 30px; border-radius:26px 26px 0px 0px;"
                            bgcolor="#12325c">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="h1 pb25"
                                        style="color:#ffffff; font-family:'Muli', Arial,sans-serif; font-size:40px; line-height:46px; text-align:center; padding-bottom:25px;">
                                        {{ user.username }} soyez le bienvenue sur <b>Agenda Ludique</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center pb25"
                                        style="color:#c1cddc; font-family:'Muli', Arial,sans-serif; font-size:16px; line-height:30px; text-align:center; padding-bottom:25px;">
                                        Vous pouvez maintenant commencer à planifier vos premières sessions<span
                                            class="m-hide">
                                    </span>
                                    </td>
                                </tr>
                                {% block button %}*
                                    {{ super() }}
                                {% endblock button %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock main %}