<div class="modal fade" id="game_freq{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="game_freqLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content container">
            <div class="modal-header row">
                <h4 class="modal-title" id="game_freqLabel">{{ game.title }}</h4>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body row-12">
                {% if game.id in freq_games %}
                <form action="{{ url_for("jeux.update_game_freq", game_id=game.id)}}" method="post">
                    <div class="form-group form-row">
                        <label for="freq" class="control-label col-md-2">Fréquence à laquelle vous y jouer :</label>
                        <input type="number" class="form-control-sm col-sm-2" min="0" max="10" id="freq" name="freq" value="{{ freqs.filter_by(game_id=game.id).first().frequency }}" required>
                        <h4 class="col-lg-2">/3</h4>
                        <p>Veuillez choisir une fréquence de 0 à 3 en prenant en compte les possibilités suivantes</p>
                        <ul>
                            <li>0 = Jamais</li>
                            <li>1 = Peu fréquemment</li>
                            <li>2 = Régulièrement</li>
                            <li>3 = Très souvent</li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    <button type="button" class="btn ml-3 col-3"
                            onclick="window.location.href='{{ url_for("jeux.remove_game_freq", game_id=game.id) }}';">
                        Effacer la fréquence
                    </button>
                </form>
                {% else %}
                <form action="{{ url_for("jeux.add_game_freq", game_id=game.id)}}" method="post">
                    <div class="form-group form-row">
                        <label for="freq" class="control-label col-md-8">Fréquence à la quelle vous y jouer :</label>
                        <input type="number" class="form-control-sm col-sm-2" min="0" max="3" id="freq" name="freq" required>
                        <h4 class="col-lg-2">/3</h4>
                        <p>Veuillez choisir une fréquence de 0 à 3 en prenant en compte les possibilités suivantes</p>
                        <ul>
                            <li>0 = Jamais</li>
                            <li>1 = Peu fréquemment</li>
                            <li>2 = Régulièrement</li>
                            <li>3 = Très souvent</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Sauvegarder">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>