<div class="col-xl-3 col-lg-4 col-md-6">
    <div class="card mb-4 shadow-sm">
        <img class="card-img mx-auto"
             src="{{ game.image }}"
             alt="Illustration">
        <div class="card-body">
            <a href="{{ url_for("jeux.game", game_id=game.id) }}">
                <p class="text-truncate font-weight-bold">{{ game.title }}
                    ({{ game.publication_year }})</p>
            </a>
            <div class="d-flex flex-row align-items-center">
                <p class="mb-0">De {{ game.min_players }} à {{ game.max_players }} joueurs</p>
                {% if game.id in wished_games %}
                    <a class="ml-auto"
                       href="{{ url_for("jeux.remove_game_wish", game_id=game.id) }}">
                        <i class="fas fa-heart wished"></i>
                    </a>
                {% else %}
                    <a class="ml-auto"
                       href="{{ url_for("jeux.add_game_wish", game_id=game.id) }}">
                        <i class="far fa-heart"></i>
                    </a>
                {% endif %}
                <a class="nav-link dropdown-toggle text-white ml-2" href="#" id="gameDropdown"
                   role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v "></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="gameDropdown">
                    <a class="dropdown-item" href="{{ url_for("jeux.add_game_collection", game_id=game.id) }}">
                        Ajouter à ma collection
                    </a>
                    {% if game.id not in know_games %}
                        <a class="dropdown-item" href="{{ url_for("jeux.add_game_known", game_id=game.id) }}">
                            Marquer comme connu
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="#">
                            Marquer comme non connu
                        </a>
                    {% endif %}
                    {% if game.id not in know_games %}
                        <a class="dropdown-item" href="{{ url_for("jeux.add_game_note", game_id=game.id) }}">
                            Noter le jeu
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="#">
                            Modifier la note du jeu
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
