<div class="col-xl-3 col-lg-4 col-md-6">
    <div class="card mb-4 shadow-sm">
        <img class="card-img mx-auto"
             src="{{ game.image }}"
             alt="Illustration">
        <div class="card-body">
            <a href="{{ url_for("jeux.game", game_id=game.id) }}">
                <p class="text-truncate font-weight-bold">{{ game.title }}
                    ({{ game.publication_year }})</p>
            </a>
            <div class="d-flex flex-row align-items-center">
                <p class="mb-0">De {{game.id}} {{ game.min_players }} à {{ game.max_players }} joueurs</p>
                {% if game.id in wished_games %}
                    <a class="ml-auto"
                       href="{{ url_for("jeux.remove_game_wish", game_id=game.id) }}">
                        <i class="fas fa-heart wished"></i>
                    </a>
                {% else %}
                    <a class="ml-auto"
                       href="{{ url_for("jeux.add_game_wish", game_id=game.id) }}">
                        <i class="far fa-heart"></i>
                    </a>
                {% endif %}
                <a class="nav-link dropdown-toggle text-white ml-2" href="#" id="gameDropdown"
                   role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v "></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="gameDropdown">
                    {% if game.id not in owned_games %}
                    <a class="dropdown-item" href="{{ url_for("jeux.add_game_collection", game_id=game.id) }}">Ajouter à ma collection</a>
                    {% else %}
                    <a class="dropdown-item" href="{{ url_for("jeux.remove_game_collection", game_id=game.id) }}">Supprimer de ma collection</a>
                    {% endif %}
                    {% if game.id not in known_games %}
                    <a class="dropdown-item" href="{{ url_for("jeux.add_game_known", game_id=game.id) }}">Marquer comme connu</a>
                    {% else %}
                    <a class="dropdown-item" href="{{ url_for("jeux.remove_game_known", game_id=game.id) }}">Marquer comme non connu</a>
                    {% endif %}
                    {% if game.id not in noted_games %}
                    <a class="dropdown-item" data-toggle="modal" data-target="#myModal{{game.id}}">Noter le jeu</a>
                    {% else %}
                    <a class="dropdown-item" data-toggle="modal" data-target="#myModal{{game.id}}">Modifier la note du jeu</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if game.id not in noted_games %}
    <div class="modal fade" id="myModal{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content container">
                <div class="modal-header row">
                    <h4 class="modal-title" id="myModalLabel">{{ game.title }}</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body row-12">
                    <form action="{{ url_for("jeux.add_game_note", game_id=game.id)}}" method="post">
                        <div class="form-group form-row">
                            <label for="note" class="control-label col-md-2">Note :</label>
                            <input type="number" class="form-control-sm col-sm-2" min="0" max="10" id="note" name="note" required>
                            <h4 class="col-lg-2">/10</h4>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message :</label>
                            <textarea type="text" class="form-control" id="message-text" name="message-text"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Sauvegarder">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="modal fade" id="myModal{{game.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content container">
                <div class="modal-header row">
                    <h4 class="modal-title" id="myModalLabel">{{ game.title }}</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body row-12">
                    <form action="{{ url_for("jeux.update_game_note", game_id=game.id)}}" method="post">
                        <div class="form-group form-row">
                            <label for="note" class="control-label col-md-2">Note :</label>
                            <input type="number" class="form-control-sm col-sm-2" min="0" max="10" id="note" name="note" value="{{ ratings[game.id].note }}" required>
                            <h4 class="col-lg-2">/10</h4>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message :</label>
                            <textarea type="text" class="form-control" id="message-text" name="message-text"> {{ ratings[game.id].message }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                        <a class="btn btn-primary" href="{{ url_for("jeux.remove_game_note", game_id=game.id) }}">Effacer la note</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
