{% extends "index.html" %}
{% block main %}
    <!-- TODO remove this when multiple stylesheets will be supported in views -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/custom-buttons.css") }}">
    <main class="container-fluid col-9">
        <div id="user-presentation">
            <img class="profile-picture rounded-lg" id="userimg"
                    {% if user.profile_picture %}
                 src="{{ user.profile_picture }}"
                    {% else %}
                 src="{{ url_for("static", filename="images/blank_pp.png") }}"
                    {% endif %}
                 alt="Image de profil de {{ user.username }}">
            <div id="user-informations">
                <h2 id="username">{{ user.username }}</h2>
                <h3 id="fullname">{{ user.first_name }} {{ user.last_name }}</h3>
            </div>
            <div id="user-buttons">
                {% if user.id == current_user_id %}
                    <a class="btn"
                       href="{{ url_for('site.account') }}"
                       role="button"><i class="fas fa-pen"
                                        title="Modifier votre profil"></i> Modifier votre profil</a>
                {% elif user.id in users_data.bookmarked_users_ids %}
                    <a class="btn bookmarked-user"
                       href="{{ url_for('site.remove_bookmarked_user', user=user.id) }}"
                       role="button" title="Retirer cet utilisateur des favoris"><i class="fas fa-star"></i> Favori</a>
                {% else %}
                    <a class="btn bookmark-button"
                       href="{{ url_for('site.add_bookmarked_user', user=user.id) }}"
                       role="button" title="Ajouter cet utilisateur aux favoris"><i
                            class="far fa-star"></i> Ajouter aux favoris</a>
                {% endif %}

                {% if user.id in users_data.hidden_users_ids %}
                    <a class="btn hidden-user"
                       href="{{ url_for('site.remove_hidden_user', user=user.id) }}" role="button"
                       title="Démasquer cet utilisateur"><i class="fas fa-eye-slash"></i> Masqué</a>
                {% elif user.id !=  current_user_id %}
                    <a class="btn hide-user btn-outline-danger"
                       href="{{ url_for('site.add_hidden_user', user=user.id) }}" role="button"
                       title="Masquer cet utilisateur"><i class="far fa-eye-slash"></i> Masquer</a>
                {% endif %}
            </div>
        </div>
        <div id="favorites-games" class="profile-category">
            <h4>Jeux favoris</h4>
        </div>
        <div id="opinions" class="profile-category">
            <h4>Notes et avis récents</h4>
        </div>
        <div id="favorites-players" class="profile-category">
            <h4>Joueurs favoris</h4>
        </div>
    </main>
{% endblock %}