{% extends "index.html" %}
{% block main %}
    <!-- TODO remove this when multiple stylesheets will be supported in views -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/custom-buttons.css") }}">
    <main class="container-fluid col-9 mb-5">
        <h2 class="text-center mb-5">Joueurs</h2>

        <form class="my-5 mx-auto" action="{{ url_for('site.users') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.username_hint }}
                <div class="input-group-append" id="search-buttons">
                    <button class="btn show-advanced-search" type="button" data-toggle="collapse"
                            data-target="#advanced-search" aria-expanded="false" aria-controls="advanced-search"
                            title="Recherche avancée">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </button>
                    <button type="submit" class="btn btn-primary" title="Recherche">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="collapse" id="advanced-search">
                <div class="card card-body">
                    <h5 id="advanced-search-title" class="card-title">Recherche avancée</h5>
                    <p>{{ form.display_favorites_players_only }} {{ form.display_favorites_players_only.label }}</p>
                    <p>{{ form.display_masked_players }} {{ form.display_masked_players.label }}</p>
                </div>
            </div>
        </form>
        {% if users_data.pagination.items %}
            <div class="users-list row">
                {% for item in users_data.pagination.items %}
                    {% include "user_card.html" %}
                {% endfor %}
            </div>
        {% else %}
            <div class="search-error">
                <p>Aucun utilisateur correspondant aux critères de recherche n'a été trouvé.</p>
            </div>
        {% endif %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if users_data.pagination.page == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link"
                           href="{{ url_for("site.users", page=users_data.pagination.prev_num, searchParameters=search_parameters, username=username_hint) }}">
                            &laquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for("site.users", page=users_data.pagination.prev_num, searchParameters=search_parameters, username=username_hint) }}">
                            &laquo;
                        </a>
                    </li>
                {% endif %}
                {% for page_num in users_data.pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if users_data.pagination.page == page_num %}
                            <li class="page-item active">
                                <a class="page-link"
                                   href="{{ url_for("site.users", page=page_num, searchParameters=search_parameters, username=username_hint) }}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for("site.users", page=page_num, searchParameters=search_parameters, username=username_hint) }}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link"
                               href="{{ url_for("site.users", page=users_data.pagination.prev_num, searchParameters=search_parameters, username=username_hint) }}">
                                ...
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if users_data.pagination.page == users_data.pagination.pages %}
                    <li class="page-item disabled">
                        <a class="page-link"
                           href="{{ url_for("site.users", page=users_data.pagination.next_num, searchParameters=search_parameters, username=username_hint) }}">
                            &raquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for("site.users", page=users_data.pagination.next_num, searchParameters=search_parameters, username=username_hint) }}">
                            &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>
{% endblock %}
