{% extends "index.html" %}
{% block main %}
<main class="container-fluid col-9 mb-5">
    <h2 class="text-center mb-5">{{ title }}</h2>
    {% block message %}
        {{ super() }}
    {% endblock %}
    <form class="my-5 mx-auto" action="" method="GET">
        <div class="input-group">
            {{ searchform.group_hint }}
            <div class="input-group-append" id="search-buttons">
                <button type="submit" class="btn btn-primary" title="Recherche">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </form>
    <form class="form mb-4" action="" method="POST">
        <div class="form-row align-items-center justify-content-center">
            {{ form.code(class="form-control col-2 mr-2") }}
            {{ form.submit(class="btn btn-block text-uppercase col-2 ml-2") }}
        </div>
    </form>
    <div class="row align-items-center justify-content-center">
      <a class="btn btn-block centered text-uppercase col-3 pt-2 mb-5" href="{{ url_for('group.add_group') }}">Créer un groupe</a>
    </div>
    <div class="row">
    {% for group in groups_data %}
        {% include "cards/group_card.html" %}
    {% endfor %}
    </div>
</main>
{% endblock %}
