{% extends "index.html" %}
{% block main %}
    <main class="container-fluid col-9 mb-5">
        <h2 class="text-center mb-5">{{ group.name }}
            {% if group.is_private %}
                <i class="fas fa-lock"></i>
            {% else %}
                <i class="fas fa-unlock"></i>
            {% endif %}
        </h2>
        <a type="button" class="btn pt-2
          {% if is_member %}
            btn-danger"
            href="{{ url_for('group.quit_group', group_id=group.id) }}">Quitter
          {% else %}
            "href="{{ url_for('group.join_group', group_id=group.id) }}">Rejoindre
          {% endif %}
        </a>
        <h4 class="my-3">Responsable</h4>
        {% set item = group.manager %}
        <div class="users-list row">
          {% include "cards/user_card.html" %}
        </div>
        <h4 class="my-3">Membres du groupe</h4>
        {% for member in group.participations %}
            {% set item = member.member %}
            {% if item.id != group.manager_id %}
              <div class="users-list row">
                {% include "cards/user_card.html" %}
              </div>
            {% endif %}
        {% endfor %}
    </main>
{% endblock %}
