<div class="col-md-3">
    <div class="card card-body">
        <div class="row group-card-content">
          <h5 class="mr-1">
            <a href="{{ url_for('site.group', id=group.id) }}">{{ group.name }}
              {% if group.is_private %}
                <i class="fas fa-lock"></i>
              {% else %}
                <i class="fas fa-unlock"></i>
              {% endif %}
            </a>
          </h5>
          - {{ group.participations.count() }} membres
        </div>
    </div>
</div>
