main form {
    width: 45rem;
}

.game-card img {
    height: 15rem !important;
}

.game-card i {
    color: #000000;
}

.game-card i:hover {
    color: #0277BC;
}

main nav ul {
    width: min-content;
}

.wished:hover:before{
	content: "\f7a9";
}
