.show-advanced-search {
    background-color: transparent;
    color: #0277BC;
    border-color: #ced4da;
}

#advanced-search-title {
    margin-top: 2%;
}

@media only screen and (max-width: 1590px) {
    img {
        margin-bottom: 25%;
    }

    .profile-card-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media only screen and (min-width: 1590px) {
    .profile-informations {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.card {
    margin-bottom: 2rem;
}

.pagination {
    margin-top: 1rem;
}

.thin-button {
    padding-top: 0;
    padding-bottom: 0;
    height: 1.7rem;
}

.danger-button {
    background-color: #dc3545;
}