{% extends "index.html" %}
{% block main %}
    <main class="container-fluid d-flex flex-column justify-content-center align-items-center mt-auto mb-auto">
        <img class="img-fluid rounded-lg shadow-lg mx-auto d-block mb-4"
             src="{{ url_for("static", filename="images/logo.svg") }}" alt="Logo">
        <h2 class="text-center mb-3">Mot de passe oublié</h2>
        {% block message %}
            {{ super() }}
            {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <p class="text-center alert-danger alert-dismissable rounded-lg py-1 w-50">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        <form class="form" action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control required") }}
            </div>
            {{ form.submit(class="btn btn-block text-white text-uppercase mb-3") }}
        </form>

    </main>
{% endblock %}