{% extends "index.html" %}
{% block main %}
    <main class="container-fluid col-9 mt-auto mb-auto">
        <h2 class="text-center mb-5">{{ game.title }} ({{ game.publication_year }})</h2>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img class="img-fluid rounded-lg col-6 mr-2" src="{{ game.image }}" alt="Illustration">
            <div class="row col-6 ml-2">
                <div>
                    <h3 class="mb-3">Informations sur le jeu</h3>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Temps minimum d'une partie : {{ game.min_playtime }} minutes</li>
                        <li class="list-group-item">Nombre minimum de joueurs : {{ game.min_players }} joueurs</li>
                        <li class="list-group-item">Nombre maximum de joueurs : {{ game.max_players }} joueurs</li>
                    </ul>
                    {% if game.id not in owned_games %}
                        <button class="btn mt-3 col-12 text-white"
                                onclick="window.location.href='{{ url_for("jeux.add_game_collection", game_id=game.id) }}';">
                            Ajouter à la collection
                        </button>
                    {% else %}
                        <button class="btn mt-3 col-12 text-white"
                                onclick="window.location.href='{{ url_for("jeux.remove_game_collection", game_id=game.id) }}';">
                            Retirer de la collection
                        </button>
                    {% endif %}
                    {% if game.id not in wished_games %}
                        <button class="btn mt-3 col-12 text-white"
                                onclick="window.location.href='{{ url_for("jeux.add_game_wish", game_id=game.id) }}';">
                            Ajouter à la liste de souhaits
                        </button>
                    {% else %}
                        <button class="btn mt-3 col-12 text-white"
                                onclick="window.location.href='{{ url_for("jeux.remove_game_wish", game_id=game.id) }}';">
                            Retirer de la liste de souhaits
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}