{% extends "index.html" %}
{% block main %}
    <main class="container-fluid col-9 mt-auto mb-auto">
        <h2 class="text-center mb-5">Catalogue</h2>
        <form class="my-5 mx-auto">
            <div class="form-group">
                <label class="d-none" for="search-input">Rechercher un jeu grâce à son nom</label>
                <input class="form-control" id="search-input" type="text"
                       placeholder="Rechercher un jeu grâce à son nom">
            </div>
        </form>
        <div class="row">
            {% for game in games.items %}
                {% if game.id not in user_collection %}
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img mx-auto"
                                 src="{{ game.image }}"
                                 alt="Illustration">
                            <div class="card-body">
                                <p class="text-truncate font-weight-bold">{{ game.title }}
                                    ({{ game.publication_year }})</p>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="mb-0">De {{ game.min_players }} à {{ game.max_players }} joueurs</p>
                                    <a class="ml-auto" href="{{ url_for("site.add_game_collection", game_id=game.id) }}">
                                        <i class="far fa-plus-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <nav>
            <ul class="pagination mt-3 mb-0 mx-auto">
                {% if games.page == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.prev_num) }}">
                            &laquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.prev_num) }}">
                            &laquo;
                        </a>
                    </li>
                {% endif %}
                {% for page_num in games.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if games.page == page_num %}
                            <li class="page-item active">
                                <a class="page-link" href="{{ url_for("site.catalog", page=page_num) }}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for("site.catalog", page=page_num) }}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="{{ url_for("site.catalog", page=games.prev_num) }}">
                                ...
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if games.page == games.pages %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.next_num) }}">
                            &raquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.next_num) }}">
                            &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>
{% endblock %}