{% extends "index.html" %}
{% block main %}
    <main class="container-fluid col-9 mt-auto mb-auto">
        <h2 class="text-center mb-5">Catalogue</h2>
        <form class="my-5 mx-auto" action="{{ url_for('site.catalog') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.games_hint }}
                <select name="type">
                    <option value="title">Nom</option>
                    <option value="genre">Genre</option>
                    <option value="editor">Editeur</option>
                    <option value="year">Année</option>
                </select>
                <div class="input-group-append" id="search-buttons">
                    <button class="btn show-advanced-search" type="button" data-toggle="collapse"
                            data-target="#advanced-search" aria-expanded="false" aria-controls="advanced-search"
                            title="Rechercher des jeux grâce à leurs noms">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </button>
                    <button type="submit" class="btn btn-primary" title="Recherche">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="collapse" id="advanced-search">
                <div class="card card-body">
                    <h5 id="advanced-search-title" class="card-title">Rechercher des jeux grâce à leurs noms</h5>
                    <p>{{ form.display_known_games }} {{ form.display_known_games.label }}</p>
                    <p>{{ form.display_noted_games }} {{ form.display_noted_games.label }}</p>
                </div>
            </div>
        </form>
        {% if games.pagination.items %}
        <div class="row">
            {% for game in games.pagination.items %}
                {% if game.id not in owned_games %}
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img mx-auto"
                                 src="{{ game.image }}"
                                 alt="Illustration">
                            <div class="card-body">
                                <a href="{{ url_for("site.game", game_id=game.id) }}">
                                    <p class="text-truncate font-weight-bold">{{ game.title }}
                                        ({{ game.publication_year }})</p>
                                </a>
                                <div class="d-flex flex-row align-items-center">
                                    <p class="mb-0">De {{ game.min_players }} à {{ game.max_players }} joueurs</p>
                                    {% if game.id in wished_games %}
                                        <a class="ml-auto"
                                           href="{{ url_for("site.remove_game_wish", game_id=game.id) }}">
                                            <i class="fas fa-heart-broken"></i>
                                        </a>
                                    {% else %}
                                        <a class="ml-auto"
                                           href="{{ url_for("site.add_game_wish", game_id=game.id) }}">
                                            <i class="far fa-heart"></i>
                                        </a>
                                    {% endif %}
                                    <a class="ml-2"
                                       href="{{ url_for("site.add_game_collection", game_id=game.id) }}">
                                        <i class="far fa-plus-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <nav>
            <ul class="pagination mt-4 mb-0 mx-auto">
                {% if games.pagination.page == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.pagination.prev_num, searchParameters=search_parameters) }}">
                            &laquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.pagination.prev_num, searchParameters=search_parameters) }}">
                            &laquo;
                        </a>
                    </li>
                {% endif %}
                {% for page_num in games.pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if games.pagination.page == page_num %}
                            <li class="page-item active">
                                <a class="page-link" href="{{ url_for("site.catalog", page=page_num, searchParameters=search_parameters) }}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for("site.catalog", page=page_num, searchParameters=search_parameters) }}">
                                    {{ page_num }}
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="{{ url_for("site.catalog", page=games.prev_num, searchParameters=search_parameters) }}">
                                ...
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if games.pagination.page == games.pagination.pages %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.pagination.next_num, searchParameters=search_parameters) }}">
                            &raquo;
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for("site.catalog", page=games.pagination.next_num, searchParameters=search_parameters) }}">
                            &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>
{% endblock %}