{% extends "index.html" %}
{% block main %}
    <main class="container-fluid col-9 mb-5">
        <h2 class="text-center mb-5">Bibliothèque</h2>
        <div class="row">
            {% for item in games_data.values() %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img mx-auto"
                             src="{{ item["images"]["original"] }}"
                             alt="Illustration">
                        <div class="card-body">
                            <p class="text-truncate font-weight-bold">{{ item["title"] }} ({{ item["publication_year"] }})</p>
                            <p class="mb-0">De {{ item["min_players"] }} à {{ item["max_players"] }} joueurs</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}