{% extends "index.html" %}
{% block main %}
    <main class="container-fluid d-flex flex-column justify-content-center align-items-center mt-auto mb-auto">
        <img class="img-fluid rounded-lg shadow-lg mx-auto d-block mb-4"
             src="{{ url_for("static", filename="images/logo.svg") }}" alt="Logo">
        <h2 class="text-center mb-3">Inscription</h2>
        <form class="form" action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-lg-6">
                    {{ form.first_name.label }}
                    {{ form.first_name(class="form-control") }}
                </div>
                <div class="form-group col-lg-6">
                    {{ form.last_name.label }}
                    {{ form.last_name(class="form-control") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="form-group col-lg-6">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control") }}
                </div>
            </div>
            {{ form.submit(class="btn btn-block text-uppercase mb-3") }}
            <p class="text-center">Vous avez déjà un compte ? <a href="{{ url_for("auth.login") }}">Se connecter</a></p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-center alert-danger rounded-lg py-1">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </main>
{% endblock %}