{% extends "index.html" %}
{% block main %}
    <main class="container-fluid mb-5 d-flex flex-column justify-content-center align-items-center">
        <img class="img-fluid rounded-lg shadow-lg mx-auto d-block mb-4"
             src="{{ url_for("static", filename="images/logo.svg") }}" alt="Logo">
        <h2 class="text-center mb-3">Inscription</h2>
        <form class="form" method="POST">
            <div class="form-group">
                <input class="form-control" placeholder="Nom d'utilisateur" required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Adresse électronique" required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Mot de passe" required>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Confirmer le mot de passe" required>
            </div>
            <button class="btn btn-block text-white text-uppercase" type="submit">Inscription</button>
        </form>
    </main>
{% endblock %}