{% extends "index.html" %}
{% block main %}
    <main class="container-fluid col-9 mb-5">
        <h2 class="text-center mb-5">Joueurs</h2>

        <form class="my-5 mx-auto">
            <div class="input-group">
                {{ form.username_hint }}
                <div class="input-group-append" id="search-buttons">
                    <button class="btn show-advanced-search" type="button" data-toggle="collapse" data-target="#advanced-search" aria-expanded="false" aria-controls="advanced-search">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                    </button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="collapse" id="advanced-search">
                <div class="card card-body">
                    <h3 class="mb-6">Recherche avancée</h3>
                    <p>{{ form.display_favorites_players_only }} {{ form.display_favorites_players_only.label }}</p>
                    <p>{{ form.display_masked_players }} {{ form.display_masked_players.label }}</p>
                </div>
            </div>
        </form>

        <div class="row">
            {% for item in users_data %}
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img mx-auto"
                             src="{{ item["profile_picture"] }}"
                             alt="Illustration">
                        <div class="card-body">
                            <p class="text-truncate font-weight-bold">{{ item["title"] }}
                                {{ item["username"] }}</p>
                            <div class="d-flex flex-row align-items-center">
                                <p class="mb-0">{{ item["first_name"] }} {{ item["last_name"] }}</p>
                                <i class="ml-auto far fa-star" id="{{ item["id"] }}" onclick="game(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}